<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.png" />
    <meta name="description" content="{{ description }}" />

    {% set css -%}{% include "site.css" %}{% endset -%}<style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <header></header>
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
    <footer>
      <section><p>&copy; {{ helpers.currentYear() }}</p></section>
    </footer>
  </body>
</html>
