:root {
  --colour1: #344E41;
  --colour2: #3A5A40;
  --colour3: #588157;
  --colour4: #A3B18A;
  --colour5: #DAD7CD;
  --measure : 800px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  color:  var(--colour1)
}

body{
background-color: white;
margin: 1rem;
padding: 0;
}

main {
background-color: var(--colour5);
box-sizing: content-box;
margin-inline: auto;
max-inline-size: var(--measure);
padding:1rem 2rem 4rem 2rem;
}
main img {
max-width: 100%;
height: auto;
margin-bottom: 2rem;
}

h1,h2,h3,h4,h5,h6 {
color: var(--colour1);
margin: 1rem 0 0 0;
text-wrap: balance;
}
p {
margin: 0 0 1rem 0;
}

footer {
color: var(--colour1);
text-align: center;
margin: 2rem 0 0 0;
}